:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  position: relative;
  width: 1440px;
  height: 1717px;
  margin: 0 auto;
  background: #ffffff;
  overflow: hidden;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.navigation {
  position: relative;
  width: 1440px;
  height: 82px;
  margin: 0 0 0 0;
  background: #000000;
  z-index: 21;
  overflow: hidden;
}
.c-rent {
  height: 120px;
  width: 221px;
}
.items {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: nowrap;
  gap: 13px;
  position: absolute;
  width: 484px;
  height: 43px;
  top: 20px;
  right: 36px;
  z-index: 22;
}
.search-bar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 300px;
  z-index: 23;
  overflow: hidden;
}
.content {
  display: flex;
  align-items: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  min-width: 0;
  height: 36px;
  padding: 8px 8px 8px 8px;
  background: rgba(250, 250, 250, 0.93);
  z-index: 24;
  border-radius: 10px;
}
.magnifying-glass {
  flex-shrink: 0;
  position: relative;
  width: 28px;
  height: 28px;
  z-index: 25;
  overflow: hidden;
}
.magnifying-glass-1 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  font-family: SF Pro Display, var(--default-font-family);
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  background: url(../assets/images/a0cdfb78-634e-4acf-a537-b9ecb5af7693.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 26;
}
.placeholder-label {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 22px;
  color: rgba(60, 60, 67, 0.6);
  font-family: Montserrat, var(--default-font-family);
  font-size: 17px;
  font-weight: 600;
  line-height: 22px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.41px;
  z-index: 27;
}
.close {
  flex-shrink: 0;
  position: relative;
  width: 18px;
  height: 18px;
  z-index: 28;
}
.icon {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(../assets/images/a073b8e6-5adf-40dc-a0b5-d1c54ea18d00.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 29;
}
.search-bar-input {
  flex-shrink: 0;
  position: absolute;
  width: 300px;
  height: 36px;
  top: 0;
  left: 0;
  background: transparent;
  border: none;
  z-index: 30;
  outline: none;
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  width: 43px;
  height: 43px;
  padding: 14px 24px 14px 24px;
  background: #ffffff;
  z-index: 31;
  overflow: hidden;
  border-radius: 11px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}
.customer {
  flex-shrink: 0;
  position: relative;
  width: 29px;
  height: 29px;
  background: url(../assets/images/4e136d8b82e41ff1a88557ae2d3433e8ed0bfe74.png)
    no-repeat center;
  background-size: contain;
  z-index: 32;
  border-radius: 20px;
}
.account {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 87px;
  height: 30px;
  color: #ffffff;
  font-family: Montserrat, var(--default-font-family);
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
  white-space: nowrap;
  z-index: 33;
}
.car {
  position: absolute;
  width: 34px;
  height: 34px;
  top: 25px;
  left: 64px;
  background: url(../assets/images/873f8db20f86d7a10d87da7a6627748892c61b86.png)
    no-repeat center;
  background-size: contain;
  z-index: 47;
}
.items-2 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: nowrap;
  gap: 22px;
  position: absolute;
  width: 741px;
  height: 30px;
  top: 26px;
  right: 576px;
  z-index: 34;
}
.about {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 80px;
  height: 30px;
  color: #ffffff;
  font-family: Montserrat, var(--default-font-family);
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
  white-space: nowrap;
  z-index: 35;
}
.add-car {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 101px;
  height: 30px;
  color: #ffffff;
  font-family: Montserrat, var(--default-font-family);
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
  white-space: nowrap;
  z-index: 36;
}
.rent-car {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 112px;
  height: 30px;
  color: #ffffff;
  font-family: Montserrat, var(--default-font-family);
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
  white-space: nowrap;
  z-index: 37;
}
.faq {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 44px;
  height: 30px;
  color: #ffffff;
  font-family: Montserrat, var(--default-font-family);
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
  white-space: nowrap;
  z-index: 38;
}
.contact-us {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 141px;
  height: 30px;
  color: #ffffff;
  font-family: Montserrat, var(--default-font-family);
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
  white-space: nowrap;
  z-index: 39;
}
.sec {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 10px;
  position: relative;
  width: 1440px;
  height: 303px;
  margin: 285px 0 0 0;
  background: linear-gradient(180deg, #070e18, #1c2a4e);
  z-index: 62;
  overflow: hidden;
}
.frame {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 142px;
  position: relative;
  width: 1319px;
  height: 285px;
  padding: 15px 100px 15px 100px;
  background: rgba(196, 196, 196, 0);
  z-index: 63;
  overflow: hidden;
}
.explore-ways-save {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  width: 617px;
  height: 108px;
  color: #ffffff;
  font-family: Montserrat, var(--default-font-family);
  font-size: 46px;
  font-weight: 800;
  line-height: 108px;
  text-align: left;
  z-index: 64;
}
.button-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  width: 238px;
  height: 58px;
  padding: 14px 24px 14px 24px;
  cursor: pointer;
  background: #ffffff;
  border: none;
  z-index: 65;
  border-radius: 21px;
  box-shadow: 0 1px 14.2px 0 #000000;
}
.search-cars {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 32px;
  color: #b02626;
  font-family: Montserrat, var(--default-font-family);
  font-size: 21px;
  font-weight: 900;
  line-height: 32px;
  text-align: left;
  white-space: nowrap;
  z-index: 66;
  text-shadow: 0 4px 6.2px rgba(161, 161, 161, 0.48);
}
.sec-4 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 108px;
  position: relative;
  width: 1438px;
  height: 367px;
  margin: 0 0 0 0;
  padding: 0 0 0 151px;
  background: #ffffff;
  z-index: 53;
  overflow: hidden;
}
.frame-5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 519px;
  height: 285px;
  padding: 15px 80px 15px 42px;
  background: rgba(196, 196, 196, 0);
  z-index: 54;
  overflow: hidden;
}
.subscribe-offers {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 448px;
  height: 30px;
  color: #000000;
  font-family: Montserrat, var(--default-font-family);
  font-size: 37px;
  font-weight: 800;
  line-height: 30px;
  text-align: left;
  white-space: nowrap;
  z-index: 55;
}
.enter-email {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 448px;
  height: 15px;
  color: #000000;
  font-family: Montserrat, var(--default-font-family);
  font-size: 18px;
  font-weight: 400;
  line-height: 14.76px;
  text-align: left;
  white-space: nowrap;
  z-index: 56;
}
.frame-6 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 7px;
  position: relative;
  width: 456px;
  height: 44px;
  z-index: 57;
}
.search-bar-7 {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 322px;
  height: 36px;
  background: #cdcdcd;
  z-index: 58;
  border-radius: 21px;
}
.button-8 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  width: 117px;
  height: 36px;
  padding: 14px 24px 14px 24px;
  cursor: pointer;
  background: #000000;
  border: none;
  z-index: 59;
  border-radius: 21px;
  box-shadow: 0 1px 14.2px 0 #000000;
}
.subscribe {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 82px;
  height: 18px;
  color: #ffffff;
  font-family: Montserrat, var(--default-font-family);
  font-size: 15px;
  font-weight: 900;
  line-height: 18px;
  text-align: left;
  white-space: nowrap;
  z-index: 60;
  text-shadow: 0 4px 6.2px rgba(161, 161, 161, 0.48);
}
.pexels-photo {
  flex-shrink: 0;
  position: relative;
  width: 795px;
  height: 553px;
  background: url(../assets/images/773bd58754a1461c14b7e04c0cc9ed7061998457.png)
    no-repeat center;
  background-size: cover;
  z-index: 61;
}
.sec-9 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 10px;
  position: relative;
  width: 1440px;
  height: 131px;
  margin: 0 0 0 0;
  background: linear-gradient(180deg, #1d2b4f, #264774);
  z-index: 67;
  overflow: hidden;
}
.frame-a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 142px;
  position: relative;
  width: 1435px;
  height: 129px;
  padding: 15px 100px 15px 100px;
  background: rgba(196, 196, 196, 0);
  z-index: 68;
  overflow: hidden;
}
.quality-cars {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  width: 776px;
  height: 91px;
  color: #ffffff;
  font-family: Montserrat, var(--default-font-family);
  font-size: 38px;
  font-weight: 800;
  line-height: 44.84px;
  text-align: left;
  z-index: 69;
}
.cards {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 32px;
  position: relative;
  width: 1440px;
  height: 410px;
  margin: 0 0 0 2px;
  padding: 15px 32px 15px 32px;
}
.customer-quote {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  gap: 17px;
  position: relative;
  min-width: 0;
  height: 380px;
  padding: 15px 32px 15px 32px;
  background: #ffffff;
  border: 1px solid #f7f7f7;
  z-index: 1;
  border-radius: 12px;
  box-shadow: -4px 8px 20px 0 rgba(0, 0, 0, 0.1);
}
.passenger-car {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 30px;
  color: #000000;
  font-family: Montserrat, var(--default-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  white-space: nowrap;
  z-index: 2;
}
.description {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  width: 256px;
  height: 96px;
  color: #000000;
  font-family: Montserrat, var(--default-font-family);
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
  z-index: 3;
}
.read-more {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 30px;
  color: #668362;
  font-family: Montserrat, var(--default-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  white-space: nowrap;
  z-index: 4;
}
.images {
  flex-shrink: 0;
  position: relative;
  width: 252px;
  height: 142px;
  background: url(../assets/images/fef1bdccaf0b28cdecae84dc592ed69a66ccdbeb.png)
    no-repeat center;
  background-size: cover;
  z-index: 5;
}
.customer-quote-b {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  gap: 17px;
  position: relative;
  min-width: 0;
  min-height: 0;
  padding: 15px 32px 15px 32px;
  background: #ffffff;
  border: 1px solid #f7f7f7;
  z-index: 6;
  border-radius: 12px;
  box-shadow: -4px 8px 20px 0 rgba(0, 0, 0, 0.1);
}
.passenger-car-c {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 30px;
  color: #000000;
  font-family: Montserrat, var(--default-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  white-space: nowrap;
  z-index: 7;
}
.description-d {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  width: 256px;
  height: 96px;
  color: #000000;
  font-family: Montserrat, var(--default-font-family);
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
  z-index: 8;
}
.read-more-e {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 30px;
  color: #668362;
  font-family: Montserrat, var(--default-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  white-space: nowrap;
  z-index: 9;
}
.images-f {
  flex-shrink: 0;
  position: relative;
  width: 252px;
  height: 142px;
  background: url(../assets/images/fef1bdccaf0b28cdecae84dc592ed69a66ccdbeb.png)
    no-repeat center;
  background-size: cover;
  z-index: 10;
}
.customer-quote-10 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  gap: 17px;
  position: relative;
  min-width: 0;
  min-height: 0;
  padding: 15px 32px 15px 32px;
  background: #ffffff;
  border: 1px solid #f7f7f7;
  z-index: 11;
  border-radius: 12px;
  box-shadow: -4px 8px 20px 0 rgba(0, 0, 0, 0.1);
}
.passenger-car-11 {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 30px;
  color: #000000;
  font-family: Montserrat, var(--default-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  white-space: nowrap;
  z-index: 12;
}
.description-12 {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  width: 256px;
  height: 96px;
  color: #000000;
  font-family: Montserrat, var(--default-font-family);
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
  z-index: 13;
}
.read-more-13 {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 30px;
  color: #668362;
  font-family: Montserrat, var(--default-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  white-space: nowrap;
  z-index: 14;
}
.images-14 {
  flex-shrink: 0;
  position: relative;
  width: 252px;
  height: 142px;
  background: url(../assets/images/fef1bdccaf0b28cdecae84dc592ed69a66ccdbeb.png)
    no-repeat center;
  background-size: cover;
  z-index: 15;
}
.customer-quote-15 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  gap: 17px;
  position: relative;
  min-width: 0;
  min-height: 0;
  padding: 15px 32px 15px 32px;
  background: #ffffff;
  border: 1px solid #f7f7f7;
  z-index: 16;
  border-radius: 12px;
  box-shadow: -4px 8px 20px 0 rgba(0, 0, 0, 0.1);
}
.passenger-car-16 {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 30px;
  color: #000000;
  font-family: Montserrat, var(--default-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  white-space: nowrap;
  z-index: 17;
}
.description-17 {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  width: 256px;
  height: 96px;
  color: #000000;
  font-family: Montserrat, var(--default-font-family);
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
  z-index: 18;
}
.read-more-18 {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 30px;
  color: #668362;
  font-family: Montserrat, var(--default-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  white-space: nowrap;
  z-index: 19;
}
.images-19 {
  flex-shrink: 0;
  position: relative;
  width: 252px;
  height: 142px;
  background: url(../assets/images/fef1bdccaf0b28cdecae84dc592ed69a66ccdbeb.png)
    no-repeat center;
  background-size: cover;
  z-index: 20;
}
.navigation-footer {
  position: relative;
  width: 1440px;
  height: 114px;
  margin: 25px 0 0 -1px;
  background: #ffffff;
  z-index: 40;
  overflow: hidden;
}
.divider {
  position: relative;
  width: 1280px;
  height: 1px;
  margin: 0 0 0 80px;
  background: url(../assets/images/94a49ac0-5ba7-44b3-abf4-24eb64d3e67b.png)
    no-repeat center;
  background-size: cover;
  z-index: 41;
}

.c-rent-1b {
  
  width: 152px;
  height: 200px;
  top: 0;
  left: 0;
}

.sec-1f {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 10px;
  position: absolute;
  width: 1440px;
  height: 285px;
  top: 82px;
  left: 0;
  background: rgba(255, 255, 255, 0.2)
    url(../assets/images/49e3a382e0064d44486d244433adfa26c8d1670a.png) no-repeat
    center;
  background-size: cover;
  z-index: 48;
  overflow: hidden;
}
.frame-20 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 15px;
  position: relative;
  width: 801px;
  height: 285px;
  padding: 15px 100px 15px 100px;
  background: rgba(196, 196, 196, 0);
  z-index: 49;
  overflow: hidden;
}
.easy-renting {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  width: 468px;
  height: 88px;
  color: #ffffff;
  font-family: Montserrat, var(--default-font-family);
  font-size: 37px;
  font-weight: 800;
  line-height: 43.66px;
  text-align: left;
  z-index: 50;
}
.button-21 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  width: 238px;
  height: 58px;
  padding: 14px 24px 14px 24px;
  cursor: pointer;
  background: #b02626;
  border: none;
  z-index: 51;
  border-radius: 21px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}
.rent-now {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 32px;
  color: #ffffff;
  font-family: Montserrat, var(--default-font-family);
  font-size: 21px;
  font-weight: 900;
  line-height: 32px;
  text-align: left;
  white-space: nowrap;
  z-index: 52;
  text-shadow: 0 4px 6.2px rgba(0, 0, 0, 0.48);
}
